.tableHeader {
    td,
    th {
        padding-left: 20px;
        padding-right: 20px;
    }
}

.tableRows {
    font-size: 12px;

    td,
    th {
        padding-left: 20px;
        padding-right: 20px;
    }
}
